.ticketbox{
    border: black solid;
    width: fit-content;
    padding: 20px;
}
.tkt{
    display: flex;
    justify-content: center;
}


.ticketbox input{
    border: cadetblue solid;
    border-radius: 5px;

}