body{

    background:linear-gradient(rgba(6, 241, 6, 0.374),white);
    background-size: cover;
    background-repeat: no-repeat;
}



.container {
    height: '100vh';
    display: 'flex';
    justify-Content: 'center';
    align-items: 'center';
} */