
.container {
    height: '100vh';
    display: 'flex';
    justify-Content: 'center';
    align-items: 'center';
}


.logo{
    display: flex;
    justify-content: center;
    
}


.logo img{
    width: 150px;
    margin-left: 20px;
}

.loginbox{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
    /* background-color: rgb(8, 244, 126); */
    
    
}


.user-icon img{
    width: 80px;
}

.login{
    width: 400px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 10px 20px 0px;
    background-color: rgb(255, 255, 255);
    
}

.login-btn{
    background-color: aquamarine;
}

.link1{
    color: red;

}

.link1:hover{
    color:navy;
}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    height: 36px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 20px;
  }
  
  

  .googleBtn:hover {
    background-color: whitesmoke;
  }
  
  