


.header{
    background-color: rgb(4, 0, 0);
}

.header{
    display:flex;
    justify-content: space-between;

}

.menu{
    cursor: pointer;
    color:white;
}
.subheader{
    justify-content: flex-start;
}

.subheader img{
    width: 100px;
    position: relative;

}


.abc{
    background-color: blanchedalmond;
}

.tab{
    background-color: aquamarine;
}

.navitem{
    padding:10px;
}

.navitem:hover{
    color: red;
}

